{{#each this}}
    <img src="{{url}}" alt="">
    <div class="text-container">
        <h3 class="title-breed h3">{{breeds.[0].name}}</h3>
        <p class="text-description subtitle1">{{breeds.[0].description}}</p>
        <p class="text-description subtitle1"> <strong>Temperament:</strong> {{breeds.[0].temperament}}</p>
    </div>
{{/each}}
