@import '../components/text-options';
@import '../components/button';

@import '../components/task-header';

@import '../components/input-default';

.feedback-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 32px;
    max-width: 480px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  
  .feedback-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .feedback-form button {
    padding: 8px 12px;
    font: inherit;
    cursor: pointer;
  }
  
  input,
  textarea {
    padding: 8px;
    font: inherit;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-top: 5px;
  }
   
  textarea {
    resize: none;
  }

  // Настройка инпутов 
.input-default:not(:placeholder-shown):invalid {
  border: 2px solid red;
}